# Performing Linear Regression on Car Dataset

### Stage1 - Importing the data as is , and try to get the summary of the data , and gain insights on the loaded data

#### Importing necessary libraries to read the CSV dataset .

In [87]:
import pandas as pd
import numpy as np

#### Read CSV and load in dataframe .

In [88]:
dataframe1 = pd.read_csv("car_details_1.csv")
dataframe2 = pd.read_csv("car_details_2.csv")

#### Head of the data , to get overall information on the dataframe .

In [89]:
dataframe1.head()

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner
0,Maruti 800 AC,2007,60000,70000,Petrol,Individual,Manual,First Owner
1,Maruti Wagon R LXI Minor,2007,135000,50000,Petrol,Individual,Manual,First Owner
2,Hyundai Verna 1.6 SX,2012,600000,100000,Diesel,Individual,Manual,First Owner
3,Datsun RediGO T Option,2017,250000,46000,Petrol,Individual,Manual,First Owner
4,Honda Amaze VX i-DTEC,2014,450000,141000,Diesel,Individual,Manual,Second Owner

In [90]:
dataframe2.head()

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner,mileage,engine,max_power,torque,seats
0,Maruti Swift Dzire VDI,2014,450000,145500,Diesel,Individual,Manual,First Owner,23.4 kmpl,1248 CC,74 bhp,190Nm@ 2000rpm,5.0
1,Skoda Rapid 1.5 TDI Ambition,2014,370000,120000,Diesel,Individual,Manual,Second Owner,21.14 kmpl,1498 CC,103.52 bhp,250Nm@ 1500-2500rpm,5.0
2,Honda City 2017-2020 EXi,2006,158000,140000,Petrol,Individual,Manual,Third Owner,17.7 kmpl,1497 CC,78 bhp,"12.7@ 2,700(kgm@ rpm)",5.0
3,Hyundai i20 Sportz Diesel,2010,225000,127000,Diesel,Individual,Manual,First Owner,23.0 kmpl,1396 CC,90 bhp,22.4 kgm at 1750-2750rpm,5.0
4,Maruti Swift VXI BSIII,2007,130000,120000,Petrol,Individual,Manual,First Owner,16.1 kmpl,1298 CC,88.2 bhp,"11.5@ 4,500(kgm@ rpm)",5.0

In [91]:
dataframe1.describe()

              year  selling_price      km_driven
count  4340.000000   4.340000e+03    4340.000000
mean   2013.090783   5.041273e+05   66215.777419
std       4.215344   5.785487e+05   46644.102194
min    1992.000000   2.000000e+04       1.000000
25%    2011.000000   2.087498e+05   35000.000000
50%    2014.000000   3.500000e+05   60000.000000
75%    2016.000000   6.000000e+05   90000.000000
max    2020.000000   8.900000e+06  806599.000000

In [92]:
dataframe2.describe()

              year  selling_price     km_driven        seats
count  8128.000000   8.128000e+03  8.128000e+03  7907.000000
mean   2013.804011   6.382718e+05  6.981951e+04     5.416719
std       4.044249   8.062534e+05  5.655055e+04     0.959588
min    1983.000000   2.999900e+04  1.000000e+00     2.000000
25%    2011.000000   2.549990e+05  3.500000e+04     5.000000
50%    2015.000000   4.500000e+05  6.000000e+04     5.000000
75%    2017.000000   6.750000e+05  9.800000e+04     5.000000
max    2020.000000   1.000000e+07  2.360457e+06    14.000000

#### Correlation between Data in both the dataframe

In [93]:
dataframe1.corr()

                   year  selling_price  km_driven
year           1.000000       0.413922  -0.419688
selling_price  0.413922       1.000000  -0.192289
km_driven     -0.419688      -0.192289   1.000000

Seems that the year of the make of model has a strong correlation with the selling price of the car .
Most of all , it also states that the older cars tended to be cheaper than newer cars , due to various other factors contributing to increase in price .

In [94]:
dataframe2.corr()

                   year  selling_price  km_driven     seats
year           1.000000       0.414092  -0.418006 -0.009144
selling_price  0.414092       1.000000  -0.225534  0.041358
km_driven     -0.418006      -0.225534   1.000000  0.227336
seats         -0.009144       0.041358   0.227336  1.000000

### Stage 2 - Preprocessing Data and developing more insights on the loaded data

Types of Owner of car in both the DataFrame .


Dataframe1 :

In [95]:
print('Types of Owner in DataFrame1 : \n')

for x in list(dataframe1['owner'].unique()):
    print(x)
    
print('\n\nTypes of Fuel : \n')

for x in list(dataframe1['fuel'].unique()):
    print(x)
    
print('\n\nTypes of Seller Type : \n')

for x in list(dataframe1['seller_type'].unique()):
    print(x)
    
print('\n\nTypes of Transmission Type : \n')

for x in list(dataframe1['transmission'].unique()):
    print(x)

Types of Owner in DataFrame1 :

First Owner
Second Owner
Fourth & Above Owner
Third Owner
Test Drive Car


Types of Fuel :

Petrol
Diesel
CNG
LPG
Electric


Types of Seller Type :

Individual
Dealer
Trustmark Dealer


Types of Transmission Type :

Manual
Automatic

In [96]:
print('Types of Owner in DataFrame2 : \n')

for x in list(dataframe2['owner'].unique()):
    print(x)
    
print('\n\nTypes of Fuel : \n')

for x in list(dataframe2['fuel'].unique()):
    print(x)
    
print('\n\nTypes of Seller Type : \n')

for x in list(dataframe2['seller_type'].unique()):
    print(x)
    
print('\n\nTypes of Transmission Type : \n')

for x in list(dataframe2['transmission'].unique()):
    print(x)

Types of Owner in DataFrame2 :

First Owner
Second Owner
Third Owner
Fourth & Above Owner
Test Drive Car


Types of Fuel :

Diesel
Petrol
LPG
CNG


Types of Seller Type :

Individual
Dealer
Trustmark Dealer


Types of Transmission Type :

Manual
Automatic

Both the dataframe contains same set of values for the owner column , which means , the car can be classified in 5 kinds , based on owner of the car .

Number of records present in Dataframe1 and Dataframe2

In [97]:
print('DataFrame1 contains '+str(dataframe1['name'].count())+' records and DataFrame2 contains '+str(dataframe2['name'].count()))

DataFrame1 contains 4340 records and DataFrame2 contains 8128

Note :: No joins should be performed on the two dataframes , as these are individual records without any dependency or foreign Key References .

#### Providing new Integer Codes for Fuel of the Car .
    Diesel = 1
    Petrol = 2
    LPG = 3
    CNG = 4

In [98]:
dataframe1['fuel']=dataframe1['fuel'].map(lambda x: 1 if x=='Diesel' else(2 if x=='Petrol' else(3 if x=='LPG' else 4)))

In [99]:
dataframe2['fuel']=dataframe2['fuel'].map(lambda x: 1 if x=='Diesel' else(2 if x=='Petrol' else(3 if x=='LPG' else 4)))

#### Providing new Integer Codes for Transmission of the Car .
    Manual = 1
    Automatic = 2

In [100]:
dataframe1['transmission']=dataframe1['transmission'].map(lambda x: 1 if x=='Manual' else 2)

In [101]:
dataframe2['transmission']=dataframe2['transmission'].map(lambda x: 1 if x=='Manual' else 2)

#### Providing new Integer Codes for Seller Types of the Car .
    Individual = 1
    Dealer = 2
    Trustmark Dealer = 3

In [102]:
dataframe1['seller_type']=dataframe1["seller_type"].map(lambda x: 1 if x=='Individual' else (2 if x=='Dealer' else 3))

In [103]:
dataframe2['seller_type']=dataframe2["seller_type"].map(lambda x: 1 if x=='Individual' else (2 if x=='Dealer' else 3))

### Performing Correletion again to gain insights on newly converted data .

In [104]:
dataframe1.corr()

,year,selling_price,km_driven,fuel,seller_type,transmission
year,1.000000,0.413922,-0.419688,-0.112923,0.182458,0.143800
selling_price,0.413922,1.000000,-0.192289,-0.270073,0.240666,0.530205
km_driven,-0.419688,-0.192289,1.000000,-0.248272,-0.187131,-0.120226
fuel,-0.112923,-0.270073,-0.248272,1.000000,-0.031883,-0.054645
seller_type,0.182458,0.240666,-0.187131,-0.031883,1.000000,0.200191
transmission,0.143800,0.530205,-0.120226,-0.054645,0.200191,1.000000

In [105]:
dataframe2.corr()

,year,selling_price,km_driven,fuel,seller_type,transmission,seats
year,1.000000,0.414092,-0.418006,-0.051355,0.234741,0.244707,-0.009144
selling_price,0.414092,1.000000,-0.225534,-0.202916,0.323047,0.588845,0.041358
km_driven,-0.418006,-0.225534,1.000000,-0.239728,-0.194966,-0.201229,0.227336
fuel,-0.051355,-0.202916,-0.239728,1.000000,0.031641,0.010049,-0.336661
seller_type,0.234741,0.323047,-0.194966,0.031641,1.000000,0.355598,-0.075394
transmission,0.244707,0.588845,-0.201229,0.010049,0.355598,1.000000,-0.072821
seats,-0.009144,0.041358,0.227336,-0.336661,-0.075394,-0.072821,1.000000